extends layout 

block config
    - var siteTitle = "Harris Ferguson - About"

block content 
  .about 
    .image(style='background-image: url(#{img})')
    .about
      .intro
        p
          | I'm Harris Ferguson. I'm studying Computer Science at the University of Saskatchewan, 
          | and I'm currently a Software Developer Intern at <a href="https://www.7shifts.com">7shifts</a>.
      .amble 
        p 
          | I've worked with TypeScript, JavaScript, React, PHP, Laravel, MySQL, and GraphQL 
        p 
          | I'm passionate about User Centered Design,
          | Networking, and Web Development. I also have a deep love for Mathematics. 
        p 
          a(href='https://blog.harrisferguson.dev') Check out my blog!
      .links 
        | <a href="https://www.linkedin.com/in/harris-ferguson/"> <img src="/images/linkedin.png"> </a>
        | <a href="https://github.com/Harris-Ferguson"> <img src="/images/github.png"> </a>
        | <a href="https://twitter.com/HarrisFerguso11"> <img src="/images/twitter.png"> </a>