extends layout 

block config
    - var siteTitle = "Harris Ferguson - About"

block content 
  .about 
    .image(style='background-image: url(#{img})')
    .about
      .intro
        p
          | I'm Harris Ferguson. I'm a Full Stack Software Developer working on Analytics products at <a href="https://www.coconutsoftware.com/">Coconut Software</a>. 
      .amble 
        p 
          | I've worked professionally with TypeScript, React, PHP, MySQL, PostgreSQL and GraphQL.  
        p 
          | I'm passionate about User Centered Design,
          | Data Based Applications, Data Analysis and Visualization, and Algorithmic Art. I also have a deep love for Mathematics. 
      .links 
        | <a href="https://www.linkedin.com/in/harris-ferguson/"> <img src="/images/linkedin.png"> </a>
        | <a href="https://github.com/Harris-Ferguson"> <img src="/images/github.png"> </a>