extends layout 

block config
    - var siteTitle = "Harris Ferguson - About"

block content 
  .about 
    .image(style='background-image: url(#{img})')
    .about
      .intro
        p
          | I'm Harris Ferguson. I'm currently studying Computer Science at the University of Saskatchewan. 
          | I'm an aspiring Software Developer, and I'm passionate about learning everything about how software is built. 
      .amble 
        p 
          | I'm comfortable in Java, C, Python, and JavaScript.
        p 
          | Over the course of my degree I've become passionate about User Centered Design,
          | Networking, Operating Systems, and Web Development. I also have a deep love for Mathematics. 
      .links 
        a(href="https://www.linkedin.com/in/harris-ferguson/")= "LinkedIn"
        a(href="https://github.com/Harris-Ferguson")= "GitHub"