doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Harris Ferguson
  body
  include noisecanvas
    .info
      .text
        h1= title
        p 
        | I'm a Computer Science student and Software Developer Intern at <a href="https://www.7shifts.com/careers">7shifts</a>
        p Take a look at my 
          a(href='/projects')= 'Projects 💻'
        p Learn more 
          a(href='/about')= 'About Me 📖'
      .footer 
        a(href='/canvastoy')= 'Play with the graphic!'
