nav#navigation
  .navbar
    .navelements
      .element
        a(href='/') home
      .element
        a(href='/projects') projects
      .element
        a(href='/work') work
      .element
        a(href='/about') about
      .element
        a(href='https://blog.harrisferguson.dev') blog