extends layout 

mixin project(Name, Description, CodeLink, LiveLink)
    h1= Name
    p= Description
    a(href=CodeLink)= "Code Link"
    if(LiveLink)
        a(href=LiveLink)= "See it in Action!"

block content
    each project in projects
        +project(project.name, project.description, project.codelink, project.livelink)