body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

/*
Navbar
*/
.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: relative;
  display: flex;
}

.navbar > .navelements {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar > .navelements > .element {
  margin-right: 10px;
  font-size: 20px;
  height: 100%;
  width: 120px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.navbar > .navelements > .element > a {
  text-decoration: none;
  color: white;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.navbar > .navelements > .element:hover {
  background-color: darkgray;
}

ul {
  padding: 0;
  margin: 0;
}

.text > p >  a {
  color: white;
}

.text > p > a:hover{
  filter: brightness(85%);
}

/*
main page 
*/
canvas {
  position: absolute;
  z-index: -100;
}

.info {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.info > .text {
  color: white;
  font-size: x-large;
}

/*
project page
*/
.projects{
  display: flex;
  justify-content: center;
  align-content: center;
}

.project{
  margin: 10px;
  border-width: 1px;
  border: darkgray;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 5em -1em darkgray;
  text-align: center;
  width: 26em;
}

.project > .link {
  margin: 2px;
  border-width: 2px;
  border: black solid;
  border-radius: 20px;
  background-color: black;
}

.project > .link:hover {
  background-color: darkgray;
  border: darkgray solid;
}

.project > .link > a {
  text-decoration: none;
  color: white;
  font-size: large;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  background-size: 550px;
  background-repeat: no-repeat;
  border-width: 2px;
  height: 200px;
  width: 100%;
}

.content > .image > img{
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.project > .tags{
  display: flex;
}

.project > .tags > .tag {
  margin: 10px;
  background-color: darkgray;
  border-radius: 10px;
}

.project > .tags > .tag {
  margin-left: 5px;
  margin-right: 5px;
  background-color: darkgray;
  border-radius: 10px;
}

.project > .tags > .tag > p {
  margin: 3px;
}
