body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

/*
Navbar
*/
.navbar {
  width: 100%;
  height: 50px;
  background-color: #7395ae;
  position: relative;
  display: flex;
}

.navbar > .navelements {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar > .navelements > .element {
  margin-right: 10px;
  font-size: 20px;
  height: 100%;
  width: 120px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.navbar > .navelements > .element > a {
  text-decoration: none;
  color: white;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar > .navelements > .element:hover {
  background-color: darkblue;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

/*
main page 
*/
canvas {
  position: absolute;
  z-index: -100;
}

.info {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.info > .text {
  color: white;
  font-size: x-large;
}

/*
project page
*/
.projects{
  display: flex;
  justify-content: center;
  align-content: center;
}

.project{
  margin: 10px;
  border-width: 2px;
  border: #557a95 solid;
  border-radius: 20px;
  overflow: hidden;
}

.image {
  background-size: 500px;
  border-width: 2px;
  box-shadow: 0 0 5em -1em darkgray;
  height: 200px;
  width: 400px;
}

.content > .image > img{
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
